.university{
  .phone-viewport{
    margin-right: 16px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.12);
  }

}
.menu-active{
  color: #00796b;
  i{
    color: #00796b !important;
  }
}