.application--light .toolbar {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.h-title {
  font-size: 15px;
  color: rgba(0,0,0,.87);
  font-weight: 500;
  text-indent: 10px;
  text-transform: uppercase;
}
