* {
  &:focus {
    outline: none;
  }
}

body {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png);
}

.md-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: 0 !important;
  font-size: 17px !important;
  font-weight: bold !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.text-center {
  text-align: center;
}
