.home-block {
  justify-content: center;
  @include media-only(xs) {
    flex: 0 1 100%;
  }
}

.main-title {
  font-size: 18px;
  padding-top: 2px;
}

.main-select {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  background: #fff;
  @include media-only(xs) {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

  .main-select-block {
    display: flex;
    @include media-only(xs) {
      flex-wrap: wrap;
    }
  }

  .md-input-container {
    margin: 4px 10px 24px !important;
  }

  .button-container {
    padding: 10px 0 0;
  }
}

.main-btn {
  margin: 0 auto 10px auto;
  @include media-only(xs) {
    width: 100%
  }
}

.text-center {
  text-align: center;
}
