body {
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/memphis-colorful.png);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.text-center {
  text-align: center;
}
