#auth_form {
  background: #fff;
  max-width: 450px;
  margin: 40px auto;
  padding: 30px;
  @include media-down(xs) {
    margin: 0;
    max-width: none;
  }

  > h1 {
    color: $main-color;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.25;
  }

  .md-button {
    margin: 6px 0;
  }

  form .md-button {
    width: 100%;
  }

  .in_email, .in_pass {
    margin-bottom: 10px;
  }

  .in_repeat_pass {
    margin-bottom: 20px;
  }

  .forgot {
    text-align: right;
  }
}
