#login {
  .flex {
    width: 100%;
    max-width: 500px;
    border: 1px solid #e0e0e0;
    background: #fff;
    padding: 40px;
  }
  .reg {
    text-align: right;
    > span {
      display: inline-block;
      padding: 2px 10px;
      margin-top: 10px;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.9);
      transition: .3s;
      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
