.body-edit {
  height: 100%;

  #app {
    height: 100%;
  }

  .md-toolbar {
    background: #444 !important;
  }
}

.edit-template {
  background: #fff;
  height: calc(100% - 48px);
}

// Left column
.left-column {
  height: 100%;
}

.left-list {
  position: relative;
  width: 100%;
  > .delete-choose {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.87);
    background: #616161;
    cursor: context-menu;
    z-index: 9;

    > * {
      display: none;
    }
    > .delete {
      display: block;
    }
    > .deleted {
      color: #ffc1c1;
    }
  }

  > .md-tabs {
    height: 100%;

    .md-tabs-content {
      position: relative;
      width: 100%;
      height: 100% !important;
      border-right: 1px solid #d4d4d4;
    }
  }
}

.md-tabs-wrapper {
  height: 100%;
  .md-tab {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    padding: 0;
    .left-search {
      background: #f1f1f1;
      > .md-input-container {
        margin: 0;
      }
    }
  }
}

.md-tabs-content:hover .md-tab {
  overflow-y: auto;
}

.left-block {
  border-bottom: 1px solid #dadada;
  cursor: all-scroll;
  cursor: -webkit-grab;
  transition: 0.2s;
  &:hover {
    background: #dadada;
  }
  &:active {
    cursor: -webkit-grabbing;
  }
  &:last-child {
    border-bottom: 0;
  }

  .md-list-item-container {
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
  }

  .extra {
    font-size: 12px;
    color: #6f6f6f;
  }
}

// Right column
.right-column {
  height: 100%;
  overflow: auto;
}

.schedule {
  min-width: 700px;
  max-width: 1400px;
  border-collapse: collapse;
  border: 1px solid #636363;
  border-left: 0;
  width: 100%;
  min-height: 100%;

  > thead {
    background: #404e56;
    text-align: center;
    border-bottom: 1px solid #636363;

    td {
      color: rgba(0, 0, 0, 0.87);
      padding: 10px;
      border-right: 1px solid #636363;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      height: 48px;
      &:last-child, &:first-child {
        border-right: 0;
      }
    }

    .min {
      width: 40px;
    }
  }

  > tbody {
    > tr {
      height: 135px;
      &:last-child {
        border-bottom: 0;
        table {
          border-bottom: 0;
        }
        .week-day {
          border-bottom: 0;
          min-width: 40px !important;
        }
      }

      table {
        min-width: 100%;
        min-height: 100%;
        border: 1px solid #636363;
        border-left: 0;
        border-top: 0;
        display: table-cell;
        border-collapse: collapse;
        vertical-align: top;
        &:last-child {
          border-right: 0;
        }
      }
    }

    .week-day {
      color: rgba(0, 0, 0, 0.87);
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      border-bottom: 1px solid #636363;
      border-right: 1px solid #636363;
      > span {
        display: block;
        transform: rotate(-90deg);
      }
    }
  }
}

.week-lesson {
  min-width: 40px !important;

  > tr {
    display: block;
    background: #f1e790;
    cursor: help;
    border-bottom: 1px solid #d4d4d4;
    height: 45px;
    line-height: 45px;
    &:last-child {
      border-bottom: 0;
    }

    > td {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}

.week-schedule {
  &.draggable {
    padding-bottom: 45px;
  }

  > tr {
    display: block;
    border-bottom: 1px solid #d4d4d4;
    height: 45px;
    vertical-align: middle;
  }
}

.element {
  display: flex;
  padding: 0;
  cursor: move;
  cursor: -webkit-grab;
  height: 100%;
  &:active {
    cursor: -webkit-grabbing;
  }
  &.no-pair {
    background: #f7f7f7;
  }

  .right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .type {
    display: flex;
    align-items: center;
    color: #ad5858;
    border-right: 1px solid #d4d4d4;
    font-weight: bold;
    width: 50px;
    cursor: pointer;
    > span {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .info {
    padding: 2px 6px;
    .title {
      font-weight: bold;
      white-space: nowrap;
    }
    .teacher {
      color: #777;
      white-space: nowrap;
      .no {
        color: #ce8080;
        margin-right: 5px;
        &:not(:first-child), &:not(:last-child) {
          display: none;
        }
      }
    }
  }

  .additionally {
    display: flex;

    > .more-teachers {
      display: flex;
      min-width: 40px;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #d4d4d4;
    }

    > .cabinet {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      cursor: pointer;
      text-align: center;
      min-width: 60px;
      justify-content: center;
      color: rgba(0, 0, 0, .87) !important;
      background: #f9f9f9;
      border-left: 1px solid #d4d4d4;
        &:hover {
          text-decoration: none !important;
      }
    }

    i {
      color: #7d7d7d;
    }
  }
}

.footer-btn {
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  height: 45px;
  &.moving {
    display: block;
  }
}

.week-schedule:hover {
  .footer-btn {
    opacity: 1;
  }
}

.color {
  background: #fff59d;
}

// Sortable
.week-schedule > .left-block.subject-block.sortable-chosen {
  list-style: none;
  height: 45px;
  border-bottom: 1px solid #d4d4d4;
  &::before {
    content: "+";
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    width: 45px;
    border-right: 1px solid #d4d4d4;
    color: #fff;
    background: #ad5858;
  }

  > .md-list-item-container {
    min-height: 45px;
  }
}

.teacher {
  > *:first-child {
    margin-left: 0 !important;
  }

  &:not(.no) > li .name::after {
    content: '/';
    color: #777;
    margin-left: 5px;
  }

  > li:last-child .name::after {
    content: none;
  }

  > .left-block.teacher-block.sortable-chosen {
    list-style: none;
    display: inline-block;
    color: #d87b7b;
    border-bottom: none;
    margin-left: 5px;

    > div {
      min-height: unset;
      padding: 0;
      font-size: inherit;
    }
  }
}

.teacher-item {
  transition: .3s;
  
  &:hover {
    background: #f1f1f1;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
  &::after {
    content: "/"
  }
}
