.body-edit {
  height: 100%;

  #app {
    height: 100%;
  }

  .md-toolbar {
    background: #333 !important;
    color: #fff !important;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2),
                0 2px 2px rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12);
  }
}

.edit-template {
  background: #fff;
  height: calc(100% - 48px);
}

// Left column
.left-column {
  height: 100%;
  background: #f5f5f5;
  border-right: 1px solid #dadada;
}

.left-list {
  position: relative;
  width: 100%;
  > .delete-choose {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #636363;
    background: #fff;
    cursor: context-menu;
    z-index: 9;

    > * {
      display: none;
    }
    > .delete {
      display: block;
    }
    > .deleted {
      color: #f95c5c;
    }
  }

  > .md-tabs {
    height: 100%;
    .md-tabs-content {
      position: relative;
      width: 100%;
      height: 100% !important;
    }
  }

  .md-list {
    background: #f5f5f5 !important;
    padding-top: 0;
  }
}

.md-tabs-navigation {
  background: #fff !important;
  border-bottom: 1px solid #dadada;

  .md-tab-header {
    color: rgba(0, 0, 0, 0.54) !important;
    &.md-active {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }

  .md-tab-header-navigation-button {
    background-color: #ce5555 !important;
  }
}

.md-tabs-wrapper {
  height: 100%;
  .md-tab {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    padding: 0;
    .left-search {
      margin: 0 16px;
    }
  }
}

.md-tabs-content:hover .md-tab {
  overflow-y: auto;
}

.left-block {
  border-bottom: 1px solid #dadada;
  cursor: all-scroll;
  cursor: -webkit-grab;
  transition: 0.2s;
  &:hover {
    background: #dadada;
  }
  &:active {
    cursor: -webkit-grabbing;
  }
  &:last-child {
    border-bottom: 0;
  }

  .md-list-item-container {
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
  }

  .extra {
    font-size: 12px;
    color: #6f6f6f;
  }
}

// Right column
.right-column {
  overflow: auto;
}

.schedule {
  .week {
    display: table;
    width: 100%;
    min-height: 100px;
  }

  .week-1 {
     margin-bottom: 50px;
  }
}

.schedule-column {
  display: table-cell;
  border-right: 1px solid #fff;
  min-width: 220px;
  &:hover {
    .footer-btn {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
  &:last-child {
    border-right: 0;
  }

  > h3 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 14px 15px 13px;
    background: #ce5555;
    color: #fff;
  }

  > .footer-btn {
    display: none;
  }
}

.dragArea {
  min-height: 30px;

  > .md-card {
    cursor: -webkit-grab;
    overflow: visible;
    &:active {
      cursor: -webkit-grabbing;
    }
    &.sortable-ghost {
      // Block is moving
    }

    .md-card-header {
      .md-button {
        border: 1px dashed #333;
        width: unset;
        max-width: none;
        border-radius: 5px;
        margin-left: 5px;
        > .md-ink-ripple {
          border-radius: 0;
        }
      }
    }

    .md-title {
      line-height: 1.2em !important;
      text-align: left;
    }
  }
}

.no-pair {
  display: flex;
  padding: 16px 8px;
  background: #ffe7e7;
}
