table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #e0e0e0;
}

/* Schedule */
.schedule {
  &.edit {
    position: relative;
    padding: 0;
    height: 100%;
  }

  .wrap {
    height: 100%;
  }
}

/* Left Column */
.left-column {
  position: relative;
  background: #fff;
  height: 100%;
  width: 300px;
  > .tabs {
    height: calc(100% - 68px);
    > .tabs__items {
      height: calc(100% - 48px);
      overflow: auto;
      border-right: 1px solid #e0e0e0;
    }
  }
}

.line-search-update {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  margin-bottom: 5px;
  .btn {
    width: 46px;
    height: 46px;
    margin: 0;
    border-radius: unset;
    .btn__content::before {
      border-radius: unset;
    }
  }
  .input-group {
    box-shadow: none;
    .input-group__input {
      padding-right: 0;
    }
  }
}

.delete-choose {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  z-index: 999;
  * {
    display: none;
  }
  .icon {
    display: block;
    font-size: 60px;
    &.delete {
      color: #b71c1c;
    }
    &.delete_forever {
      color: #525252;
    }
  }
}

/* Right Column */
.right-column {
  width: calc(100% - 300px);
  overflow: auto;
  table {
    width: 100%;
    max-width: 1200px;
  }
}

.column {
  text-align: center;
  height: 48px;
  font-size: 18px;
  border-top: 0;
  border-left: 0;
  color: #000;
  background: #fff;
  box-shadow: inset 0 -1px 0px 1px #0288d1;
  &.add {
    cursor: pointer;
    width: 50px;
    .icon {
      color: #000;
    }
  }
  &.edit {

  }
}

/* Response error */
.bad-response {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 65px); // 65px - header
  align-items: center;
  justify-content: center;
}

/* Loading */
.loading-schedule {}
.loading-subjects {}

/* Errors */
.error-schedule {
  max-width: 400px;
  max-height: 400px;
  text-align: center;
  margin: 0 auto;

  h2 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    padding: 20px;
    &:after {
      content: "";
      position: absolute;
      bottom: -43px;
      left: calc(50% - 10px);
      border: 10px solid transparent;
      border-top: 16px solid #424242;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      max-width: 200px;
      border-bottom: 1px solid;
      margin: 0 auto;
      color: #e0e0e0;
    }
  }

  .btn {
    width: 100%;
    margin: 0;
  }
}
